./vscode*
.vscode/*
.env
*./build 
*./build/*
./lib/*
*./lib
*./yaml

*build
*external
NetOrchestrate/build
lob_engine/build
lob_engine/lib
lob_engine/bin 
lob_engine/CMakeFiles 
lob_engine/external/*
cmake_install.cmake*
CMakeCache.txt* 
Makefile*

QuantLib
*-workspace

secrets.yaml